.editor-bar{
    display: flex;
    flex-direction: column;
    width:25%;
    background-color: rgb(88, 88, 88);
    margin-left: 0%;
    transition: margin-left .3s;
    height: 100vh;
    overflow-y: auto;
    margin-left: -25%;
}

.show-editor-bar{
    margin-left: 0;
}

.editor-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 10%;
    color: white;
}

.editor-item input{
    margin-top: 5px;
    width: 100%;
}