.editor-bar{
    display: flex;
    flex-direction: column;
    width:25%;
    background-color: rgb(88, 88, 88);
    margin-left: 0%;
    transition: margin-left .3s;
    height: 100vh;
    overflow-y: auto;
    margin-left: -25%;
    position: relative;
    padding-top: 2rem;
    z-index: 2 !important;
}

.show-editor-bar{
    margin-left: 0;
}

.hide-arrow, .show-arrow{
    width: 0; 
    height: 0; 
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    position: absolute;
    top: 1rem;
    cursor: pointer;
}
.hide-arrow{
    right: 1rem;
    border-left: 0 solid transparent;
    border-right: 1.5rem solid white; 
}
.show-arrow{
    left: -1.5rem;
    position: fixed;
    border-left: 1.5rem solid black;
    border-right: 0 solid transparent;
    transition: transform .5s;
    transform: translateX(100%);
}
.hide-arrow:hover{
    border-right: 1.5rem solid #0075FF;
}
.show-arrow:hover{
    border-left: 1.5rem solid #0075FF;
}
.editor-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 10%;
    color: white;
}

.editor-item input{
    margin-top: 5px;
    width: 100%;
}
.editor-button{
    width: 80%;
    padding: 5% 10%;
    margin: 15px auto;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.editor-button:hover{
    background-color: #4a9eff;
}
.editor-button:active{
    background-color: #0075FF;
}