.editor-bar{
    display: flex;
    flex-direction: column;
    width:25%;
    background-color: rgb(88, 88, 88);
    margin-left: 0%;
    transition: margin-left .3s;
    height: 100vh;
    overflow-y: auto;
    margin-left: -25%;
    position: relative;
    padding-top: 1.5rem;
    z-index: 2 !important;
}

.show-editor-bar{
    margin-left: 0;
}

.hide-arrow, .show-arrow{
    width: 0; 
    height: 0; 
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;

    position: absolute;
    top: 1rem;
    
    cursor: pointer;
}
.hide-arrow{
    right: 1rem;
    border-left: 0 solid transparent;
    border-right: 1rem solid white; 
}
.show-arrow{
    z-index: 0 !important;
    left: 1rem;
    position: fixed;
    border-left: 1rem solid black;
    border-right: 0 solid transparent; 
}
.hide-arrow:hover{
    border-right: 1rem solid #0075FF;
}
.show-arrow:hover{
    border-left: 1rem solid #0075FF;
}
.editor-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 10%;
    color: white;
}

.editor-item input{
    margin-top: 5px;
    width: 100%;
}